version: 2
updates:
- package-ecosystem: pip
  allow:
    - dependency-type: all
  directory: /
  schedule:
    interval: daily
    time: "03:00"
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: sqlalchemy
- package-ecosystem: github-actions
  directory: /
  schedule:
    interval: daily
    time: "03:00"
  open-pull-requests-limit: 10
