apiVersion: apps/v1
kind: Deployment
metadata:
  name: platformapi-poller{{ .Values.k8sSuffix }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      service: platformapi-poller{{ .Values.k8sSuffix }}
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      labels:
        service: platformapi-poller{{ .Values.k8sSuffix }}
      {{- if .Values.secrets }}
      annotations:
        checksum/secret: {{ include (print $.Template.BasePath "/secrets.yml") . | sha256sum }}
      {{- end }}
    spec:
      containers:
      - name: platformapi-poller
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        command: ["platform-api-poller"]
        livenessProbe:
          httpGet:
            path: /api/v1/ping
            port: tcp-web
          initialDelaySeconds: 10
          periodSeconds: 5
        readinessProbe:
          httpGet:
            path: /api/v1/ping
            port: tcp-web
          initialDelaySeconds: 10
          periodSeconds: 10
        ports:
          - containerPort: 8080
            name: tcp-web
            protocol: TCP
{{- if .Values.resources }}
        resources: {{ toYaml .Values.resources | nindent 10 }}
{{- end }}
        env:
        - name: NP_AUTH_URL
          value: {{ .Values.NP_AUTH_URL }}
        - name: NP_AUTH_TOKEN
{{- if .Values.platform.token }}
{{ toYaml .Values.platform.token | indent 10 }}
{{- end }}
        - name: NP_PLATFORM_API_URL
          value: "{{ .Values.NP_PLATFORM_API_URL }}"
        - name: NP_PLATFORM_CONFIG_URI
          value: {{ .Values.NP_PLATFORM_CONFIG_URI }}
        - name: NP_AUTH_PUBLIC_URL
          value: {{ .Values.NP_AUTH_PUBLIC_URL }}
        {{- if .Values.zipkin }}
        - name: NP_ZIPKIN_URL
          value: {{ .Values.zipkin.url }}
        {{- if .Values.k8sSuffix }}
        - name: NP_ZIPKIN_APP_NAME
          value: platform-api-poller{{ .Values.k8sSuffix }}
        {{- end }}
        - name: NP_ZIPKIN_SAMPLE_RATE
          value: {{ .Values.zipkin.sampleRate | default 0 | quote }}
        {{- end }}
        {{- if .Values.sentry }}
        - name: NP_SENTRY_DSN
          value: {{ .Values.sentry.dsn }}
        {{- if .Values.k8sSuffix }}
        - name: NP_SENTRY_APP_NAME
          value: platform-api-poller{{ .Values.k8sSuffix }}
        {{- end }}
        - name: NP_SENTRY_CLUSTER_NAME
          value: {{ .Values.sentry.clusterName }}
        - name: NP_SENTRY_SAMPLE_RATE
          value: {{ .Values.sentry.sampleRate | default 0 | quote }}
        {{- end }}
        {{- if .Values.NP_CLUSTER_NAME }}
        - name: NP_CLUSTER_NAME
          value: {{ .Values.NP_CLUSTER_NAME }}
        {{- end }}
        - name: NP_KUBE_URL
          value: {{ .Values.NP_KUBE_URL | quote }}
        {{- if .Values.NP_KUBE_AUTH_TYPE }}
        - name: NP_KUBE_AUTH_TYPE
          value: {{ .Values.NP_KUBE_AUTH_TYPE | quote }}
        {{- end }}
        {{- if .Values.NP_KUBE_CA_DATA }}
        - name: NP_KUBE_CA_DATA
          value: {{ .Values.NP_KUBE_CA_DATA | quote }}
        {{- end }}
        {{- if .Values.NP_KUBE_CA_DATA_PATH }}
        - name: NP_KUBE_CA_DATA_PATH
          value: {{ .Values.NP_KUBE_CA_DATA_PATH | quote }}
        {{- end }}
        {{- if .Values.NP_KUBE_CERT_PATH }}
        - name: NP_KUBE_CERT_PATH
          value: {{ .Values.NP_KUBE_CERT_PATH | quote }}
        {{- end }}
        {{- if .Values.NP_KUBE_CERT_KEY_PATH }}
        - name: NP_KUBE_CERT_KEY_PATH
          value: {{ .Values.NP_KUBE_CERT_KEY_PATH | quote }}
        {{- end }}
        {{- if .Values.NP_KUBE_TOKEN }}
        - name: NP_KUBE_TOKEN
          value: {{ .Values.NP_KUBE_TOKEN | quote }}
        {{- end }}
        {{- if .Values.NP_KUBE_TOKEN_PATH }}
        - name: NP_KUBE_TOKEN_PATH
          value: {{ .Values.NP_KUBE_TOKEN_PATH | quote }}
        {{- end }}
        {{- if .Values.NP_KUBE_NAMESPACE }}
        - name: NP_KUBE_NAMESPACE
          value: {{ .Values.NP_KUBE_NAMESPACE | quote }}
        {{- end }}
        {{- if .Values.NP_KUBE_INGRESS_CLASS }}
        - name: NP_KUBE_INGRESS_CLASS
          value: {{ .Values.NP_KUBE_INGRESS_CLASS | quote }}
        {{- end }}
        {{- if .Values.NP_KUBE_INGRESS_OAUTH_AUTHORIZE_URL }}
        - name: NP_KUBE_INGRESS_OAUTH_AUTHORIZE_URL
          value: {{ .Values.NP_KUBE_INGRESS_OAUTH_AUTHORIZE_URL | quote }}
        {{- end }}
        {{- if .Values.NP_KUBE_POD_JOB_TOLERATION_KEY }}
        - name: NP_KUBE_POD_JOB_TOLERATION_KEY
          value: {{ .Values.NP_KUBE_POD_JOB_TOLERATION_KEY | quote }}
        {{- end }}
        {{- if .Values.NP_KUBE_POD_PREEMPTIBLE_TOLERATION_KEY }}
        - name: NP_KUBE_POD_PREEMPTIBLE_TOLERATION_KEY
          value: {{ .Values.NP_KUBE_POD_PREEMPTIBLE_TOLERATION_KEY | quote }}
        {{- end }}
        {{- if .Values.NP_KUBE_POD_PRIORITY_CLASS_NAME }}
        - name: NP_KUBE_POD_PRIORITY_CLASS_NAME
          value: {{ .Values.NP_KUBE_POD_PRIORITY_CLASS_NAME | quote }}
        {{- end }}
        {{- if .Values.NP_KUBE_NODE_LABEL_JOB }}
        - name: NP_KUBE_NODE_LABEL_JOB
          value: {{ .Values.NP_KUBE_NODE_LABEL_JOB | quote }}
        {{- end }}
        {{- if .Values.NP_KUBE_NODE_LABEL_GPU }}
        - name: NP_KUBE_NODE_LABEL_GPU
          value: {{ .Values.NP_KUBE_NODE_LABEL_GPU | quote }}
        {{- end }}
        {{- if .Values.NP_KUBE_NODE_LABEL_PREEMPTIBLE }}
        - name: NP_KUBE_NODE_LABEL_PREEMPTIBLE
          value: {{ .Values.NP_KUBE_NODE_LABEL_PREEMPTIBLE | quote }}
        {{- end }}
        {{- if .Values.NP_KUBE_NODE_LABEL_NODE_POOL }}
        - name: NP_KUBE_NODE_LABEL_NODE_POOL
          value: {{ .Values.NP_KUBE_NODE_LABEL_NODE_POOL | quote }}
        {{- end }}
        {{- if .Values.NP_KUBE_IMAGE_PULL_SECRET }}
        - name: NP_KUBE_IMAGE_PULL_SECRET
          value: {{ .Values.NP_KUBE_IMAGE_PULL_SECRET | quote }}
        {{- end }}
        - name: NP_REGISTRY_URL
          value: {{ .Values.NP_REGISTRY_URL | quote }}
        {{- if .Values.NP_REGISTRY_EMAIL }}
        - name: NP_REGISTRY_EMAIL
          value: {{ .Values.NP_REGISTRY_EMAIL | quote }}
        {{- end }}
        - name: NP_STORAGE_TYPE_0
          value: {{ .Values.NP_STORAGE_TYPE | quote }}
        {{- if eq .Values.NP_STORAGE_TYPE "pvc" }}
        - name: NP_STORAGE_PVC_NAME_0
          value: {{ .Values.NP_STORAGE_PVC_NAME | quote }}
        {{- end }}
        {{- if eq .Values.NP_STORAGE_TYPE "nfs" }}
        - name: NP_STORAGE_NFS_SERVER_0
          value: {{ .Values.NP_STORAGE_NFS_SERVER | quote }}
        - name: NP_STORAGE_NFS_EXPORT_PATH_0
          value: {{ .Values.NP_STORAGE_NFS_EXPORT_PATH | quote }}
        {{- end }}
        {{- if eq .Values.NP_STORAGE_TYPE "host" }}
        - name: NP_STORAGE_HOST_MOUNT_PATH_0
          value: {{ .Values.NP_STORAGE_HOST_MOUNT_PATH | quote }}
        {{- end }}
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets: {{ toYaml .Values.imagePullSecrets | nindent 6 }}
      {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: platformapi-poller{{ .Values.k8sSuffix }}
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8080
    targetPort: tcp-web
  selector:
    service: platformapi-poller{{ .Values.k8sSuffix }}
{{- if .Values.ingress.enabled }}
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: platformapi-poller{{ .Values.k8sSuffix }}
  annotations:
    kubernetes.io/ingress.class: traefik
    traefik.frontend.rule.type: PathPrefix
{{- if .Values.ingress.extraAnnotations }}
{{ toYaml .Values.ingress.extraAnnotations | indent 4}}
{{- end }}
spec:
  rules:
{{- $k8sSuffix  := .Values.k8sSuffix -}}
{{- range .Values.ingress.hosts }}
  - host: {{ . | quote }}
    http:
      paths:
      - path: /api/v1/poller{{ $k8sSuffix }}
        backend:
          serviceName: platformapi-poller{{ $k8sSuffix }}
          servicePort: http
{{- end }}
{{- end }}
