image:
  repository: "$IMAGE_REPO"
  tag: "$IMAGE_TAG"

imagePullSecrets: []

replicas: 1

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 0

enforcerRetentionDelayDays:

securityContext:
  enabled: false
  runAsUser: 1001
  runAsGroup: 1001
  runAsNonRoot: true
  allowPrivilegeEscalation: false

platform:
  apiPublicUrl: https://staging.neu.ro/api/v1
  adminPublicUrl: https://staging.neu.ro/apis/admin/v1
  authPublicUrl: https://staging.neu.ro/api/v1/users
  authUrl: http://platform-auth:8080
  configUrl: http://platform-config:8080/api/v1
  adminUrl: http://platform-admin:8080/apis/admin/v1
  eventsUrl: http://platform-events:8080
  notificationsUrl: http://platform-notifications:8080
  vclusterPublicUrl: https://staging.neu.ro/apis/vcluster/v1
  token: {}

oauth:
  authUrl: https://login.neu.ro/authorize
  tokenUrl: https://login.neu.ro/oauth/token
  logoutUrl: https://login.neu.ro/v2/logout?returnTo=https://app.neu.ro/cli-logout
  clientId: uJV0pm5JPdHkXsSd525rlhFDVcEuUnaV
  audience: https://platform.staging.neuromation.io
  successRedirectUrl: https://staging.neu.ro/oauth/login
  headlessCallbackUrl: https://staging.neu.ro/oauth/show-code

postgres:
  dsn: {}

postgres-db-init:
  adminDsn: {}
  migrationsRunnerDsn: {}
  serviceDsn: {}

  migrations:
    enabled: true

    image:
      repository: "$IMAGE_REPO"
      tag: "$IMAGE_TAG"

    command: ["alembic", "upgrade", "head"]

resources:
  requests:
    cpu: "1"
    memory: "1Gi"

service:
  labels: {}
  annotations: {}

ingress:
  enabled: false

  className: ""

  hosts: []

  labels: {}
  annotations: {}

secrets: []

externalSecrets: []
  # - name: platform-admin-secret
  #   secretStoreName: vault-backend
  #   secretStoreKind: ClusterSecretStore
  #   data:
  #     DATABASE_URL:
  #       key: kv-v2/platform
  #       property: DATABASE_URL
  #     API_KEY:
  #       key: kv-v2/platform
  #       property: API_KEY

sentry: {}

priorityClassName: ""
