<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Neuromation Platform</title>
    <link rel="icon" href="${INGRESS_FALLBACK_URL}/favicon.png" type="image/png">

    <script>
        window.onload = function () {
            setInterval(function () {
                location.reload(true)
            }, 3000)
        }
    </script>

    <style>
        .div {
            width: 150px;
            height: 150px;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    </style>

</head>

<body>
    <div class="div">
        <img src="${INGRESS_FALLBACK_URL}/neuromation_symbol_RGB_150h150w.png" />
    </div>
</body>

</html>
